header.header
    .container 
        .header.row
            a(class="logo" href="a") Indicorp
                nav.nav
                    ul
                      li
                        a(href="a") Home
                      li
                        a(href="a") Product
                      li
                        a(href="a") Pricing
                      li
                        a(href="a") Contact