section.business
    .container
        h1.business-title
        p.business-text
        button.business-get
        button.business-more
        .business-items
            include ./mixin/business-column