mixin(business-column)
    .business-column
        .items
            img.item-icons(src="" alt="")
            .item-title Digital marketing
            .item-text We focus on ergonomics and meeting you where you work.
+business-column
+business-column
+business-column 
+business-column 